.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  width: 650px;
}
#search-box {
  width:100%;
  height: 70px;
  padding: 0 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 25px;
  outline: none;
  box-sizing: border-box;
  border-radius: 20px 0px 0px 20px;
}
#search-button {
  width: 70px;
  height: 65px;
  background-color: #fc1860;
  border-style: none;
  border-radius: 15px;
  padding: 8px;
}
#search-button img{
  width: 100%;
  height: 100%;
}
#search-button:hover {
  background-color: #ff0066;
}
/*Responsive*/ 
@media screen and (max-width: 850px) {
  .search-container {
    margin-top: 50px;
    width: auto;
  }
  #search-box {
    font-size: 18px;
  }
}