* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.seccion_form {
  display: flex;
  align-items: start;
  justify-content: start;
  justify-items: start;
  width: 100%;
}
.form-register {
  width: 400px;
  background: #5a1437;
  padding: 30px;
  margin: auto;
  border-radius: 15px;
  font-family: "calibri";
  display: flex;
  flex-direction: column;
  color: #fff;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
.controls {
  width: 100%;
  background: #993e64;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #500027;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}
.textarea {
  width: 100%;
  background: #993e64;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #500027;
  font-family: "calibri";
  font-size: 18px;
  color: white;
  height: 200px;
}
.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: white;
}
.form-register a {
  color: white;
  text-decoration: none;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boton {
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  border-radius: 10px;
}
.contenedor_boton {
  display: flex;
  justify-content: center;
  align-content: center;
}
.boton span {
  position: relative;
  z-index: 2;
  color: whit;
}
.boton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(158, 26, 92);
  transition: all 0.35s;
  z-index: -1;
}
.boton:hover {
  color: #fff;
  background-color: rgb(158, 26, 92);
}
.boton:hover:after {
  width: 100%;
  color: white;
}
.opciones {
  width: 100%;
  background: #993e64;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 16px;
  border: 1px solid #500027;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}
.terminos {
  margin-bottom: 10px;
  text-align: center;
}
.mensaje_error {
  color: red;
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;
}
/*Responsive*/
@media screen and (max-width: 850px) {
  .seccion_form {
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .form-register {
    width: 100%;
    padding: 10px;
    margin: auto;
  }
}
