/* Diseño Cards */
.contenedor_central_grid {
  position: relative;
  align-items: center;
  padding: 60px;
  background-color: #181818;
}
.contenedor_cards_grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  grid-gap: 10px; 
  justify-content: space-evenly;
  height: 100%;
}
.card_grid {
  margin: 10px;
  padding: auto;
  width: 150px;
}
.card_grid:hover {
  transform: scale(1.1);
}
.contenedor_imagen_grid {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  max-width: 260px;
  max-height: 320px;
  padding: auto;
}
.foto_pelicula_grid {
  display: flex;
  border-radius: 15px 15px 0px 0px;
  height: 250px;
  margin-top: 10px;
  text-align: start;
  width: 100%;
  transition: all 0.3s ease;
}
.foto_pelicula_grid:hover {
  filter: brightness(0.5);
  border-radius: 15px;
}
.estreno_grid {
  color: white;
  position: absolute;
  bottom: 6px;
  right: 1px;
  background-color: #fc1860;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 5px;
  width: 70px;
}
.titulo_grid {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.contenedor_filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.select_opciones,
.select_opcion_categoria {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #181818;
  border-radius: 15px;
  background-color: #fc1860;
  color: #ffffff;
  width: 200px;
  margin: 10px;
}
.select_opciones:focus,
.select_opcion_categoria:focus {
  color: #ffffff;
  background-color: #fc1860;
}
.opciones option {
  font-size: 14px;
}
.titulo_filtro {
  font-size: 20px;
  color: black;
}
.pagination {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .contenedor_cards_grid {
    grid-template-columns: repeat(
      5,
      1fr
    );
  }
}
@media screen and (max-width: 850px) {
  .contenedor_cards_grid {
    grid-template-columns: repeat(
      3,
      1fr
    );
  }
}
@media screen and (max-width: 480px) {
  .contenedor_central_grid {
    padding: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .contenedor_cards_grid {
    grid-template-columns: repeat(
      3,
      1fr
    );
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    place-content: center;
  }
  .contenedor_imagen_grid {
    text-align: center;
  }
  .contenedor_card {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    place-content: center;
    width: 100%;
  }
  .pagination {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  .foto_pelicula_grid {
    width: 100px;
    height: 183px;
  }
  .titulo_grid {
    font-size: 18px;
  }
  .contenedor_card {
    width: 100px;
  }
}