*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #94004a;
  height: 150px;
  width: 100%;
}
.enlace{
  position: absolute;
  padding: 20px 50px;
  /* centrar */
}
.logo{
  max-width: 100px;
  height: auto;
}
.ul_nav{
  float: right;
  margin-right: 25px;
}
.li_nav{
  display: inline-block;
  line-height: 150px; /* deja en medio el texto del menu */
  margin: 0 25px;

}

.li_enlace{
  color :#fff;
  font-size: 25px;
  padding: 15px 50px ; /* separa: inicio - catalogo - sobre nosotros (ni idea que separa el primero,despues vemos)*/


}
 .li_enlace:hover{
  background-color: #fa196081; /* Cambié el color de fondo al pasar el ratón */
  border-radius: 10px; /* Agregué un borde redondeado */
  transition: .5s;
}
.check_boton{
  font-size: 75px;/*icono menu*/
  color: #fff;
  float: right;
  line-height: 150px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
#check{
  display: none;
}
/* ajustar tamaño de pantalla tablet */
@media  (max-width: 952px){
    .enlace{
      padding-left: 20px;
    }
    .li_enlace{
      font-size: 16px;
      padding: 15px 35px;/* para ver despues si se le quita o sigue*/
    }
    }

/* ajustar tamaño de pantalla celular */
@media (max-width:852px){
    .check_boton{
      display: block;
      
    }
    .ul_nav{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: #500027;
      top: 150px;
      left: -100%;
      text-align: center;
      transition: .5s;
    }
    .li_nav{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    .li_enlace{
      font-size: 20px;
    }
    .li_enlace:hover{
      background-color: none;
      color: #fff;
    }
    #check:checked ~ .ul_nav{
      left:0;
    }
}