.contenedor {
  display: flex;
  flex-direction: row;
  background-color: #fc1860;
  align-items: center;
  height: 100%;
}
.textos_recomendacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
.primer_texto_recomendacion {
  color: #ffffff;
  font-size: 55px;
}
.texto {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 70%;
  text-align: center;
}
/*Responsive*/
@media screen and (max-width: 850px) {
  .contenedor {
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 20px;
    text-align: center;
  }
  .texto {
    margin-top: 10px;
    width: 95%;
    font-size: 15px;
  }
  .primer_texto_recomendacion {
    font-size: 35px;
  }
}
