.contenedor {
    display: flex;
    flex-direction: row;
    background-color: #fc1860;
  }
  .textos_recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
  }
  .primer_texto_recomendacion{
    color: #ffffff;
  }

  .texto {
    flex: 1;
    padding: 10px;
    
  }

  img {
    flex: 1;
    border-radius: 35px;
    padding: 10px;
    max-width: 96%;
    height: auto;
  }