.contenedor {
    display: flex;
    flex-direction: row;
    background-color: #fc1860;
    align-items: center;
  }
  .textos_recomendacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color:white;
  }
  .primer_texto_recomendacion{
    color: #ffffff;
    font-size: 25px;
  }

  .texto {
    font-display: flex;
    flex: 1;
    padding: 10px;
    font-size: 19px;
  }

  .imagen_recomendacion {
    display: flex;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden; /* Esto asegura que la imagen no se extienda más allá de los bordes redondeados */
  }

  .imagen_recomendacion img {
    width: 100%;/* Ajusta el ancho de la imagen para que se adapte al contenedor */
    height: auto;/* Permite que la altura de la imagen se ajuste automáticamente */
    border-radius: 20px; /* Aplica el borde redondeado a la imagen */
  }