* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

/*Titular*/
.contenedor {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
/* Estilos para la imagen de fondo */
.fondo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Porcentaje que ocupa*/
  background-image: url("../../img/fotos_recursos/fondo_dos.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1; /* Asegura que la imagen esté por encima de otras capas */
}
/* Estilos para la parte inferior de color negro */
.parte-inferior-negra {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgb(31, 30, 30);
  z-index: 2;
}
.contenedor_card {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
   z-index: 3;
  background-color: rgb(77, 74, 74);

}

.poster_pelicula {
  top: -180px;
  display: flex;
  position: relative;
  border-radius: 2vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
   
}

/*Contenedor Elenco*/
.contenedor_general_elenco {
  display: flex;
  background-color: blue;
  height: 70px;
  flex-direction: column;
  padding: 7px;
  justify-self: bottom;
}
.contenedor_elenco {
  margin: 7px;
}
.puesto {
  background-color: yellowgreen;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
}
.trailer_boton{
  text-decoration: none;
  background-color: rgb(233, 73, 41);
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 3px;
}
.reportar_boton{
  text-decoration: none;
  background-color: rgb(233, 73, 41);
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 3px;
}
.compartir_boton{
  text-decoration: none;
  background-color: rgb(233, 73, 41);
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 3px;
}
.elenco {
  margin: 5px;
  border-radius: 10px;
  background-color: greenyellow;
  font-size: 15px;
  padding: 5px;
}
.titulo_peli{
  position: relative;
  font-size: 80px;
  margin-left:30px;
  color: red;
  /* top: -110px; */

}

.div_datos{
  position: relative;
  top: -110px;
}
.contenedor_opciones{
  background-color: pink;
  padding: 10px;
}
.contenedor_opciones_a{
  margin-left: 20px;
font-size: 23px;
}
.edad{
  background-color: chartreuse;
  padding: 3px;
}
.contenedor_opciones_b{
  margin: 15px;
  background-color: red;
  width: fit-content;
}

.contenedor_genero{
  margin: 20px;
}

.genero{
  margin: 10px;
  font-size: 30px;
  border-radius: 20px;
  background-color: red;
  border: 2px solid black;
  padding: 5px;
}
.linea{
  margin: 10px;
  width: 70%;
}
.descripcion{
  padding: 10px;
  font-size: 24px;
  width: 400px; 
  word-wrap: break-word; 
  margin-bottom: 20px;
}