* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
/*Titular*/
.contenedor_padre {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 1150px;
}
/* Estilos para la imagen de fondo */
.fondo-img {
  filter: blur(6px);
  position: relative;
  top: -30;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url("../../img/peliculas/dune_two.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}
/* Estilos para la parte inferior de color negro */
.parte-inferior-negra {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #181818;
  z-index: 2;
}
.contenedor_card {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  z-index: 3;
  background-color: #181818;
}
.poster_pelicula {
  top: -180px;
  display: flex;
  position: relative;
  border-radius: 2vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  left: 200px;
}
/*Contenedor Elenco*/
.contenedor_general_elenco {
  display: flex;
  background-color: #242424;
  height: 70px;
  flex-direction: column;
  padding: 0px;
  justify-self: bottom;
  justify-content: center;
  border-radius: 15px;
  margin: 0px;
}
.contenedor_elenco {
  margin: 7px;
  height: 35px;
  border-radius: 15px;
}
.puesto {
  color: white;
  background-color: #343434;
  border-radius: 10px;
  padding: 6px;
  font-size: 20px;
}
.trailer_boton {
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.reportar_boton {
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.compartir_boton {
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.elenco {
  color: white;
  margin: 15px;
  border-radius: 10px;
  background-color: #343434;
  font-size: 20px;
  padding: 5px;
}
.titulo_peli {
  position: relative;
  font-size: 80px;
  margin-left: 30px;
  color: rgb(255, 255, 255);
  left: 0;
}
.div_datos {
  position: relative;
  top: -110px;
  left: 200px;
}
.contenedor_opciones {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contenedor_opciones_a {
  margin-left: 20px;
  font-size: 23px;
  display: flex;
  flex-direction: row;
}
.edad {
  color: white;
  padding: 3px;
}
.contenedor_opciones_b {
  margin: 15px;
  width: auto;
  display: flex;
  flex-direction: row;
}
.contenedor_genero {
  margin: 20px;
  display: flex;
}
.genero {
  margin: 10px;
  font-size: 25px;
  border-radius: 17px;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  padding: 8px;
}
.linea {
  margin: 19px;
  margin-top: 30px;
  width: 63%;
}
.estreno_pelicula {
  color: white;
}
.duracion_pelicula {
  color: white;
}
.contenedor_descripcion {
  color: white;
  padding: 10px;
  font-size: 24px;
  width: 70%;
  word-wrap: break-word;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.descripcion {
  width: 80%;
}
/*Caja comentarios*/
.seccion_comentarios {
  width: 100%;
  display: flex;
  padding-bottom:20px;
  background-color: #252525;
  flex-direction: column
}
.caja_comentarios {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.titulo_comentario {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
  color: white;
}
.form_mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.text_area {
  width: 70%; /* Ajusta según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
  padding: 10px;
  box-sizing: border-box;
  resize: none; /* Evita que el usuario cambie el tamaño */
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid black;
}
::placeholder{
  font-size: 25px;
  padding-top: 21px;
}
.div_boton{
  display:flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  margin-top: 13px;
}

.boton {
  width: 100px;
  height: 40px;
  
  border-radius: 15px;
  background-color: #94004a;
  color: #fff;
  font-size: 22px;
  
}

.boton:hover{
  background-color: #dd227f;
  cursor: pointer;
}
/* Lista comentarios */

.lista_comentarios{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.carta_comentarios{
  margin: 10px;
  display: flex;
  background-color: #161616;
  width: 60%;
  padding: 20px;
  border-radius: 15px;
}
.contenido_comentario{
  width: 100%;
}
.comentario_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comentario_autor{
  font-size: 22px;
  color: #94004a;
}
.comentario_fecha{
  font-size: 20px;
  color: #94004a;
  padding-bottom: 13px;
}
.comentario_texto{
  text-align:start;
  font-size: 20px;
  color: #ffffff;
  width: 90%;
}
.boton_reportar_comentario{
color: #ffffff;
text-align: end;
cursor: pointer;
}
.boton_reportar_comentario:hover{
  color: #94004a;
  transition: 0.5s;
}

/*Responsive*/
@media screen and (max-width: 850px) {
  .contenedor_card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor_elenco {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor_padre {
    height: 2500px;
  }
  .parte-inferior-negra {
    height: 70%;
  }
  .contenedor_genero {
    margin: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .genero {
    font-size: 20px;
  }
  .descripcion {
    text-align: center;
  }
  .contenedor_linea {
    display: flex;
    justify-content: center;
  }
  .contenedor_opciones {
    justify-content: center;
    flex-direction: column;
  }
  .puesto {
    font-size: 17px;
    padding: auto;
  }
  .elenco {
    font-size: 17px;
    padding: auto;
  }
  .contenedor_padre_elenco {
    display: flex;
  }
  .titulo_peli {
    font-size: 50px;
  }
  .contenedor_opciones_b {
    margin: 5px;
  }
  .contenedor_opciones_b a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
  .poster_pelicula {
    left: 0;
  }
  .div_datos {
    left: 0;
    text-align: center;
  }
  .contenedor_descripcion {
    width: 100%;
  }
}
