* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

/*Titular*/
.contenedor {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 130vh;
}
/* Estilos para la imagen de fondo */
.fondo-img {
  filter: blur(6px);
  position: relative;
  top: -30;
  left: 0;
  width: 100%;
  height: 50%; /* Porcentaje que ocupa*/
  background-image: url("../../img/peliculas/dune_two.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1; /* Asegura que la imagen esté por encima de otras capas */
}
/* Estilos para la parte inferior de color negro */
.parte-inferior-negra {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgb(31, 30, 30);
  z-index: 2;
}
.contenedor_card {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
   z-index: 3;
  background-color: #181818;

}

.poster_pelicula {
  top: -180px;
  display: flex;
  position: relative;
  border-radius: 2vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
   
}

/*Contenedor Elenco*/
.contenedor_general_elenco {
  display: flex;
  background-color:#242424;
  height: 70px;
  flex-direction: column;
  padding: 7px;
  justify-self: bottom;
  border-radius: 15px;
}
.contenedor_elenco {
  margin: 7px;
}
.puesto {
  color: white;
  background-color: #343434;
  border-radius: 10px;
  padding: 6px;
  font-size: 15px;
}
.trailer_boton{
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.reportar_boton{
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.compartir_boton{
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 10px;
  font-size: 20px;
  margin: 3px;
  padding: 8px;
}
.elenco {
  color: white;
  margin: 5px;
  border-radius: 10px;
  background-color: #343434;
  font-size: 15px;
  padding: 5px;
}
.titulo_peli{
  position: relative;
  font-size: 80px;
  margin-left:30px;
  color: rgb(255, 255, 255);
 
}

.div_datos{
  position: relative;
  top: -110px;
}
.contenedor_opciones{
  
  padding: 10px;
}
.contenedor_opciones_a{
  margin-left: 20px;
  font-size: 23px;
}



.edad{
  color: white;
  padding: 3px;
}
.contenedor_opciones_b{
  margin: 15px;

  
  width: fit-content;
}

.contenedor_genero{
  margin: 20px;
}

.genero{
  margin: 10px;
  font-size: 30px;
  border-radius: 17px;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  padding: 8px;
}
.linea{
  margin: 19px;
  width: 70%;
}
.descripcion{
  color: white;
  padding: 10px;
  font-size: 24px;
  width: 400px; 
  word-wrap: break-word; 
  margin-bottom: 20px;
}

.estreno_pelicula{
  color: white;
}

.duracion_pelicula{
  color: white;
}